.header {
    height: 100vh;
    width: 100vw;
    @include flexbox-column;
    padding: 0 20px;
    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        &-img {
            width: 130px;
            height: auto;
        }
        &-btn {
            width: 100px;
            height: 30px;
            color: $pinkColor;
            background-color: transparent;
            border: 1px solid $pinkColor;
            transition: .4s;
            &:hover {
                background-color: $pinkColor;
                border: 1px solid #fff;
                color: #fff;
            }
        }
    }
    &__title {
        font-size: 25px;
    }
    &__btn {
        background-color: $pinkColor;
        font-weight: 700;
        border: none;
        color: #fff;
        width: 200px;
        height: 40px;
        font-size: 12px;

        margin-bottom: 50px;

        -webkit-box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.75);
        box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.75);
    }
}

@media (min-width: 768px) {
    .header{
        height: 80vh;
        padding: 0 100px;
    }
}

@media (min-width: 1200px) {
    .header{
        height: 60vh;
        padding: 30px 200px 0px;
        &__top-img {
            width: 180px;
        }
        &__top-btn {
            width: 150px;
            height: 40px;
        }
    }
}