* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$pinkColor: hsl(322, 100%, 66%);
$darkCyanColor: hsl(192, 100%, 9%);
$paleBlueColor: hsl(207, 100%, 98%);

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.btnCurv {
    border-radius: 30px;
    cursor: pointer;
}

.lead {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1.1px;
}

@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}